<%- include('header') %> <%- include('navbar') %>
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1601375453000-6079f07bba93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="d-block w-100"
          alt="..."
        />
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Find something real</h1>
            <p>Amet dolor aute sint consequat laboris nostrud.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="/sign-up"
                >Sign up today</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1524604889898-0f803deb1664?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
          class="d-block w-100"
          alt="..."
        />

        <div class="container">
          <div class="carousel-caption">
            <h1>The dating app</h1>
            <p>
              Et consequat exercitation ut adipisicing commodo sit ipsum
              excepteur excepteur incididunt do aute ullamco ut.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="/sign-up"
                >Seriously sign up</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1611075099808-e3af7993333a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="d-block w-100"
          alt="..."
        />

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Go on your last first date</h1>
            <p>Non ex commodo dolor veniam enim commodo labore veniam Lorem.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="/sign-up"
                >Better sign up</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          src="https://images.unsplash.com/photo-1553514029-1318c9127859?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          class="rounded-circle"
          width="140"
          height="140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          alt="..."
        />

        <h2>Lauren</h2>
        <p>
          Est ut aute voluptate nostrud amet consectetur laboris tempor magna
          sint excepteur anim non ex.
        </p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="https://images.unsplash.com/photo-1560365163-3e8d64e762ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          class="rounded-circle"
          width="140"
          height="140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          alt="..."
        />

        <h2>Jennifer</h2>
        <p>
          Nisi ullamco cupidatat quis amet minim cillum nulla nulla minim
          adipisicing incididunt sint excepteur sint.
        </p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="https://images.unsplash.com/photo-1598244145083-d46592b3bc4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80"
          class="rounded-circle"
          width="140"
          height="140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          alt="..."
        />

        <h2>Alice</h2>
        <p>
          Exercitation in nostrud duis sunt occaecat ad laborum aliqua proident
          occaecat laboris pariatur irure.
        </p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Deserunt labore duis ex ex magna.
          <span class="text-muted">Dolor ut cupidatat elit irure est.</span>
        </h2>
        <p class="lead">
          Ut ullamco ipsum cillum minim aute incididunt minim eiusmod ex
          incididunt eiusmod magna enim sint. Ad ipsum fugiat do culpa ex et.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="https://images.unsplash.com/photo-1501631259223-89d4e246ed23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1182&q=80"
          class="featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          alt="..."
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Exercitation proident cillum eu magna do.
          <span class="text-muted">Ipsum enim do sint reprehenderit non.</span>
        </h2>
        <p class="lead">
          Excepteur cillum ipsum magna Lorem consectetur nulla ut dolor.
          Consectetur est id labore dolore id cupidatat magna et ea labore
          irure.
        </p>
      </div>

      <div class="col-md-5 order-md-1">
        <img
          src="https://images.unsplash.com/photo-1490243828451-e48aa52a9090?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
          class="featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          alt="..."
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Deserunt veniam magna et irure ad.<span class="text-muted"
            >Ut enim mollit esse ipsum Lorem.</span
          >
        </h2>
        <p class="lead">
          Sint elit laboris aliquip aliqua ut velit sit minim. Tempor excepteur
          incididunt do nisi cillum voluptate adipisicing amet duis veniam
          commodo culpa sit in.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="https://images.unsplash.com/photo-1534875824118-2e74203784f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80"
          class="featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          alt="..."
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <%- include('footer') %>
</main>
