<%- include('header') %> <%- include('navbar') %>
<body class="body-signin text-center">
  <main class="form-signin">
    <form action="/login" method="POST">
      <img
        class="mb-4"
        src="https://i.ibb.co/XCbv9FY/Screenshot-2022-04-01-at-12-53-57-AM-removebg-preview.png"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          required
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          required
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <input class="w-100 btn btn-lg btn-primary" type="submit" value="Sign in">
    </input>
      <p class="mt-5 mb-3 text-muted"></p>
    </form>
    <%- include('footer') %>
  </main>
</body>
